{% extends "layouts/layout.html" %}

{% block title %} Registration Page{% endblock %}
{% block csslinks %}  <link rel="stylesheet" type="text/css" href="/static/event/new.css" > {% endblock %}
{% block content %}

 <div class="container" align="left">
           <form class="form-horizontal" method="POST" role="form">
               <h2>Event Creation Form</h2>
               <div class="form-group">
                   <label for="Name" class="col-sm-3 control-label">Event Name</label>
                   <div class="col-sm-9">
                       <input type="text" id="Name" name="Name" class="form-control" autofocus>
                       {% if 'Name' in form.error %}
                      <div class="alert alert-danger">
                           {{ form.error['Name'] }}
                       </div>
                      {% endif %}
                   </div>
               </div>
               <div class="form-group">
                   <label for="Explanation" class="col-sm-3 control-label">Explanation </label>
                   <div class="col-sm-9">
                       <textarea class="form-control" rows="5" name="Explanations" id="Explanations"></textarea>
                       {% if 'Explanations' in form.error %}
                      <div class="alert alert-danger">
                           {{ form.error['Explanations'] }}
                       </div>
                      {% endif %}
                   </div>
               </div>
               <div class="form-group">
                   <label for="password" class="col-sm-3 control-label">Place</label>
                   <div class="col-sm-9">
                       <input type="text" id="place" name="place" class="form-control">
                       {% if 'place' in form.error %}
                      <div class="alert alert-danger">
                           {{ form.error['place'] }}
                       </div>
                      {% endif %}
                   </div>
               </div>
               <div class="form-group">
                   <label for="startDate" class="col-sm-3 control-label">Starting Date of Event</label>
                   <div class="col-sm-9">
                       <input type="date" id="startDate" name="startDate" class="form-control">
                       {% if 'startDate' in form.error %}
                      <div class="alert alert-danger">
                           {{ form.error['startDate'] }}
                       </div>
                      {% endif %}
                   </div>
               </div>
               <div class="form-group">
                   <label for="endDate" class="col-sm-3 control-label">Ending Date of Event</label>
                   <div class="col-sm-9">
                       <input type="date" id="endDate" name="endDate" class="form-control">
                       {% if 'endDate' in form.error %}
                      <div class="alert alert-danger">
                           {{ form.error['endDate'] }}
                       </div>
                      {% endif %}
                   </div>
               </div>
               <div class="form-group">
                   <label for="password" class="col-sm-3 control-label">Potograph link of event</label>
                   <div class="col-sm-9">
                       <input type="text" id="link" name="link" class="form-control">
                       {% if 'link' in form.error %}
                      <div class="alert alert-danger">
                           {{ form.error['link'] }}
                       </div>
                      {% endif %}
                   </div>
               </div>   
                <div class="form-group">
                   <div class="col-sm-9 col-sm-offset-3">
                       <button type="submit" class="btn btn-danger btn-block">Create Event</button>
                   </div>
               </div>
           </form> <!-- /form -->
       </div> <!-- ./container -->

{% endblock %}
