
{% extends "layouts/layout.html" %}

{% block title %} -Restaurant Name- Page{% endblock %}
{% block csslinks %}  <link rel="stylesheet" href="/static/event/show.css" /> {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="eventTitle">
            <h2>{{ event.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        	<img class="image" id= "image" src="https://www.cicis.com/media/1176/pizza_trad_pepperonibeef.png" alt="Slide1">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        	<p id="expPara">
        	    {{ event.content }}
        	</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <p id="Place"><b>Place of Event: {{ event.address }}</b></p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <p id="Date"><b>Date of Event: {{ event.startDate }} - {{event.endDate }}</b></p>
        </div>
        {% if current_user.is_admin %}
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a href="{{ url_for('site.event_edit_page',eventId = event.Id ) }}" class="btn btn-warning" >Edit This Event</a>
        </div>
        {% endif %}

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a href="{{ url_for('site.event_edit_page',eventId = event.Id ) }}" class="btn btn-warning" > Going </a>
        </div>
    </div>

</div>
{% endblock %}
