{% extends "layouts/layout.html" %}
{% block title %} Home {% endblock %}
{%block csslinks %}   <link rel="stylesheet" href="/static/homepage/home.css" /> {% endblock %}
{%block content %}
{% with messages = get_flashed_messages(category_filter=['user_login']) %}
<div class="container">
    <div class="row">
    		  {% if messages %}
    		  	{% for message in messages %}
   				<div class="alert alert-warning alert-dismissible" role="alert">
		 		 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				{{message}}
		  		</div>

				{% endfor %}
   	  		  {% endif %}
			{% endwith %}
    	<div class="col-md-4 col-lg-12">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                      {% if firstEvent %}
                    	<a href="{{ url_for('site.event_show_page',eventId = firstEvent.Id) }}"><img class="thumbnail" src={{ firstEvent.iconPath }} alt="Slide1"></a>
                        <div class="caption">
                       	  <h4>{{ firstEvent.name }}</h4>
						  <p>{{ firstEvent.startDate }} - {{ firstEvent.endDate }}</p>
							   <p>{{ firstEvent.address }}</p>
                        </div>
                    </div>
                  {% endif %}
                  {% if eventDic %}
                    {% for event in eventDic %}
                    <div class="item">
                    	<a href="{{ url_for('site.event_show_page',eventId =event.Id) }}"><img class="thumbnail" src={{ event.iconPath }} alt="Slide3"></a>
                        <div class="caption">
                          <h4>{{ event.name }}</h4>
						  <p>{{ event.startDate }} - {{ event.endDate }}</p>
							   <p>{{ event.address }}</p>
                        </div>
                    </div>
                    {% endfor %}
                  {% endif %}
                </div>
                 <!-- Indicators -->
                  <ol class="carousel-indicators">
                    {% if firstEvent %}
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  {% endif %}
                  {% if eventDic %}
                    {% for event in eventDic %}
                      <li data-target="#myCarousel" data-slide-to="{{ loop.index }}"></li>
                  {% endfor %}
                {% endif %}
                  </ol>
            </div><!-- End Carousel -->
    	</div>
    </div>
</div>
<br>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="container">
			<div class="news">
		        <hr>
		        <h1>First Restaurant Added</h1>
		        <p>We are celebrating to have a restaurant. With your help this network will become larger. Sign up now!. The honor of being our first restaurant goes to: Restaurant at the End of the Universe </p>
		         <a href="#">Link to the Restaurant</a>
		         <hr>
		        <h1>Website is Open Now!</h1>
		            <p>The only website for visualizing and ordering from restaurants is now ready to serve you. Created by Alperen Kantarcı, Sadık Ekin Özbay, Onat Şahin and Burak Bekci</p>
		        <hr>
		    </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<section id="contact" class="content-section text-center">
		<div id="footer">
			<div class="footer-block">
	        <div class="contact">
	              <h2>Reach Us!</h2>
	              <p>Feel free to contact us for further information.</p>
	              <div class="row">
	                <div class="col-md-8 col-md-offset-2">
	                  <hr>
	                    <h3>Our Social Sites</h3>
	                  <ul class="list-inline banner-social-buttons">
	                    <li><a href="https://twitter.com/sadkekin" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
	                    <li><a href="https://www.facebook.com/burak.bekci.58" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
	                  </ul>
					  <p>
					  	You can mail us every time at info@restoranlandin.com
					  </p>
	                </div>
	              </div>
	        </div>
		</div>
		</div>
	      </section>
	  </div>

</div>

{% endblock %}
