{% extends "layouts/layout.html" %}

{% block title %} Home {% endblock %}
{%block csslinks %}   <link rel="stylesheet" href="/static/homepage/home.css" /> {% endblock %}
{%block content %}
<div class="container">
	<div class="news">
        <hr>
        <h1>First Restaurant Added</h1>
        <p>We are celebrating to have a restaurant. With your help this network will become larger. Sign up now!. The honor of being our first restaurant goes to: Restaurant at the End of the Universe </p>
         <a href="#">Link to the Restaurant</a>
         <hr>
        <h1>Website is Open Now!</h1>
            <p>The only website for visualizing and ordering from restaurants is now ready to serve you. Created by Alperen Kantarcı, Sadık Ekin Özbay, Onat Şahin and Burak Bekci</p>
        <hr>
    </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section id="contact" class="content-section text-center">
        <div class="contact">
            <div class="container">
              <h2>Reach Us!</h2>
              <p>Feel free to contact us for further information.</p>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <hr>
                    <h3>Our Social Sites</h3>
                  <ul class="list-inline banner-social-buttons">
                    <li><a href="https://twitter.com/sadkekin" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
                    <li><a href="https://www.facebook.com/burak.bekci.58" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
                  </ul>
				  <p>
				  	You can mail us every time at info@restoranlandin.com
				  </p>
                </div>
              </div>
            </div>
        </div>
      </section>

{% endblock %}
