
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.panel-primary {
     background-color: #D32F2F !important;
}

.panel-heading {
background-color: #D32F2F !important;}



#mainpanel{
    background-color: #D32F2F !important;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;

}

.panel-body
{
    overflow-y: scroll;
    height: 250px;,

}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


body {
    background-color: #FFFFFF;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
    background-color: #FFFFFF;
}

.deneme{
    position: absolute;
   border: 3px solid #73AD21; 
}


.btn-file{
	position: relative;
}

.form-horizontal{
	background-color: white;
}

#imageUpload{
    padding-bottom: 20px; 
}
