{% extends "layouts/layout.html" %}

{% block title %} Home {% endblock %}
{%block csslinks %}   <link rel="stylesheet" href="/static/admin/index.css" /> {% endblock %}
{%block content %}

<!--List restaurants-->
{% if current_user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-12" id = "title">
        <h1>Welcome Admin</h1>
    </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-3 col-lg-3" id = "restaurants">
    {% if restaurantsList %}
    <h2>Restaurants</h2>
    <div class="restaurantscroll" id="restaurantscroll">
    <form method="post" name="restaurants">
      {% for restaurant in restaurantsList%}
      <div class="checkbox">
        <label><input type="checkbox" name = "restaurantIDs" value="{{restaurant[0] }}"> {{ restaurant[1] }} </label>
      </div>
      {% endfor %}
    </div>
      <button type="submit" name="delete"
      class="btn btn-primary" id="delete_button">Delete Restaurants</button>
    </form>
    {% endif %}
</div>
<!--List Events-->
<div class="col-xs-8 col-sm-8 col-md-3 col-lg-3" id = "events">
  {% if eventDic %}
  <h2>Events</h2>
  <div class="eventscroll" id="eventscroll">
  <form role="form" action = "" method="post" name="events">
      {% for id,eventName in eventDic.items() %}
        <div class="checkbox">
          <label><input type="checkbox" name = "eventIDs" value="{{ id }}">{{ eventName }}</label>
      </div>
      {% endfor %}
</div>
    <button type="submit" name="delete"
    class="btn btn-primary" id="delete_button">Delete Events</button>
  </form>
  {% endif %}
</div>

<!--List Achievements-->
<div class="col-xs-8 col-sm-8 col-md-3 col-lg-3" id = "achievements">
  {% if achievements %}
  <h2>Achievements</h2>
<form method="post">
  <div class="achievementscroll" id="achievementscroll">
        {% for achievement in achievements %}
            <div class="checkbox">
              <label><input type="checkbox" name="achievement_ids" value="{{achievement.Id}}"><a href="{{ url_for('site.achievement_show_page',achievement_id = achievement.Id) }}">{{ achievement.name }}</label>
            </div>
        {% endfor %}
  </div>
    <button type="submit" name="delete"
    class="btn btn-primary" id="delete_button">Delete Achievements</button>
</form>
{% endif %}
</div>

<!--List users-->
<form method="post">
<div class="col-xs-8 col-sm-8 col-md-3 col-lg-3" id = "users">
  {% if usersList %}
    <h2>Users</h2>
    <div class="userscroll" id="userscroll">
            {% for user in usersList %}
              <div class="checkbox">
                <label><input type="checkbox" name = "userIDs"value="{{ user[0] }}">{{ user[3] }}</label>
              </div>
            {% endfor %}
    </div>
    <button type="submit" name="delete"
    class="btn btn-primary" id="delete_button">Delete Users</button>
    {% endif %}
 </div>
</form>
</div>
<!--Message users-->
    <div class="row" id="post_news">
<div class="col-xs-3 col-sm-6 col-md-9 col-lg-12" id ="message">
    <h2>Message to User</h2>
    <a href="{{url_for('site.users_list_page')}}"> Click here to see user list </a>
    <form>
      <div class="form-group">
        <label for="usr">Mail of the User:</label>
        <input type="text" class="form-control" id="usr">
        <label for="comment">Message:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        <button type="submit" name="Send"
        class="btn btn-primary" id="send_message_button">Send Message</button>
      </div>
    </form>
  </div>
  </div>
<!--Post a New-->
    <div class="row" id="post_news">
        <div class="col-xs-3 col-sm-6 col-md-9 col-lg-12">
          <h2>Publish an Article</h2>
          <p>Articles will be visible on homepage.</p>
          <form>
            <div class="form-group">
              <label for="usr">Title: </label>
              <input type="text" class="form-control" id="usr">
              <label for="comment">Article:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
              <label for="link">Related Links (If there is any):</label>
              <input type="text" class="form-control" id="link">
              <button type="submit" name="Send"
              class="btn btn-primary" id="publish_button">Publish</button>
            </div>
          </form>
      </div>
    </div>
<br>
    <div class="row" id="links">
        <div class="col-xs-3 col-sm-3 col-md-6 col-lg-6">
            <a href="{{ url_for('site.event_create_page') }}">Create an Event!</a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-6 col-lg-6">
            <a href="{{ url_for('site.achievement_create_page') }}">Create an Achievement!</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
