 {% extends "layouts/layout.html" %}

{% block title %} Registration Page{% endblock %}
{% block csslinks %}  <link rel="stylesheet" type="text/css" href="/static/register/index.css" > {% endblock %}
{% block content %}


  <div class="container" align="left">
            <form class="form-horizontal" method="POST" role="form" name="user_edit">
                <h2>Registration Form</h2>

               

                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" name="firstName" placeholder="Full Name" class="form-control" autofocus>
                        <span class="help-block">First Name, Last Name, eg.: John, Smith</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" name="birthDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City</label>
                    <div class="col-sm-9">
                        <select id="city" name ="city" class="form-control">
                    <option>Adana</option>
                    <option>Adiyaman</option>
                    <option>Afyon</option>
                    <option>Agri</option>
                    <option>Aksaray</option>
                    <option>Amasya</option>
                    <option>Ankara</option>
                    <option>Antalya</option>
                    <option>Ardahan</option>
                    <option>Artvin</option>
                    <option>Aydin</option>
                    <option>Balikesir</option>
                    <option>Bartin</option>
                    <option>Batman</option>
                    <option>Bayburt</option>
                    <option>Bilecik</option>
                    <option>Bingol</option>
                    <option>Bitlis</option>
                    <option>Bolu</option>
                    <option>Burdur</option>
                    <option>Bursa</option>
                    <option>Canakkale</option>
                    <option>Cankiri</option>
                    <option>Corum</option>
                    <option>Denizli</option>
                    <option>Diyarbakir</option>
                    <option>Duzce</option>
                    <option>Edirne</option>
                    <option>Elazig</option>
                    <option>Erzincan</option>
                    <option>Erzurum</option>
                    <option>Eskisehir</option>
                    <option>Gaziantep</option>
                    <option>Giresun</option>
                    <option>Gumushane</option>
                    <option>Hakkari</option>
                    <option>Hatay</option>
                    <option>Igdir</option>
                    <option>Isparta</option>
                    <option>Icel</option>
                    <option>Istanbul</option>
                    <option>Izmir</option>
                    <option>Kahraman Maras</option>
                    <option>Karabuk</option>
                    <option>Karaman</option>
                    <option>Kars</option>
                    <option>Kastamonu</option>
                    <option>Kayseri</option>
                    <option>Kirikkale</option>
                    <option>Kirklareli</option>
                    <option>Kirsehir</option>
                    <option>Kilis</option>
                    <option>Kocaeli</option>
                    <option>Konya</option>
                    <option>Kutahya</option>
                    <option>Malatya</option>
                    <option>Manisa</option>
                    <option>Mardin</option>
                    <option>Mugla</option>
                    <option>Mus</option>
                    <option>Nevsehir</option>
                    <option>Nigde</option>
                    <option>Ordu</option>
                    <option>Osmaniye</option>
                    <option>Rize</option>
                    <option>Sakarya</option>
                    <option>Samsun</option>
                    <option>Siirt</option>
                    <option>Sinop</option>
                    <option>Sivas</option>
                    <option>Sanliurfa</option>
                    <option>Sirnak</option>
                    <option>Tekirdag</option>
                    <option>Tokat</option>
                    <option>Trabzon</option>
                    <option>Tunceli</option>
                    <option>Usak</option>
                    <option>Van</option>
                    <option>Yalova</option>
                    <option>Yozgat</option>
                    <option>Zonguldak</option>

                        </select>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" name ="gender" id="femaleRadio" value="Female">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" name ="gender" id="maleRadio" value="Male">Male
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio"  name ="gender" id="unknownRadio" value="Unknown">Unknown
                                </label>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <label class="control-label col-sm-3">User Type</label>
                    <div class="col-sm-9">
                        <div class="radio">
                            <label>
                                <input type="radio" name ="userType" id="regularUserCheckbox" value="2">Customer
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name ="userType"  id="restaurantOwnerCheckbox" value="1">Restaurant Owner
                            </label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">I accept <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                
                <div>    

            
             <div class="pull-right" id="imageUpload">
                <input type="file" name="...">  
              </div>
            </div>
                   
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-danger btn-block">Register</button>
                    </div>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->

{% endblock %}
