{% extends "layouts/layout.html" %}

{% block title %} Restaurant Page{% endblock %}
{% block csslinks %} {% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="span12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Restaurant Name</th>
            <th>Owner Name</th>
            <th>Restaurant Location</th>
            <th>Restaurant Rating</th>
            <th>Restaurant Bestseller Item</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- Change me with model and use for loop for showing all item inside the database. -->
            <td><a href="{{ url_for('site.restaurant_show_page') }}">KemalPasa Koftecisi</a></td>
            <td>Mahmut Hava</td>
            <td>Taksim 42/5 Beyoglu/Istanbul</td>
            <td>4/5</td>
            <td>Porsiyon 4 kofte</td>
            <td><a href="{{ url_for('site.restaurant_edit_page') }}">Edit</a></td>
            <td><a href="#">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
