{% extends "layouts/layout.html" %}

{% block title %} New Restaurant Page{% endblock %}
{% block csslinks %} {% endblock %}
{% block content %}
<form class="form-horizontal" method="POST" role="form" name="restaurant_create">
<fieldset>

<legend>New Restaurant</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Restaurant Name</label>
  <div class="col-md-4">
  <input id="textinput" name="Name" placeholder="" class="form-control input-md" type="text">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Restaurant Address</label>
  <div class="col-md-4">
  <input id="textinput" name="Address" placeholder="" class="form-control input-md" type="text">

  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Contact Name</label>
  <div class="col-md-4">
  <input id="textinput" name="ContactName" placeholder="" class="form-control input-md" type="text">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Contact Phone</label>
  <div class="col-md-4">
  <input id="textinput" name="ContactPhone" placeholder="" class="form-control input-md" type="text">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Photo</label>
  <div class="col-md-4">
  <input id="textinput" name="Photo" placeholder="" class="form-control input-md" type="text">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Working Hours</label>
  <div class="col-md-4">
  <input id="textinput" name="WorkingHours" placeholder="" class="form-control input-md" type="text">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Current Status</label>
  <div class="col-md-4">
  <input id="textinput" name="CurrentStatus" placeholder="" class="form-control input-md" type="text">

  </div>
</div>

<div class="form-group">
  <div class="col-md-8 text-center">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</div>

</fieldset>
</form>

{% endblock %}
