
{% extends "layouts/layout.html" %}

{% block title %} -Restaurant Name- Page{% endblock %}
{% block csslinks %}  <link rel="stylesheet" href="/static/restaurant/show.css" /> {% endblock %}
{% block content %}
<script type="text/javascript">
  $(document).ready(function() {
    $(".btn-pref .btn").click(function() {
      $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
      $(this).removeClass("btn-default").addClass("btn-primary");
    });
  });
</script>

<!-- change Information with database file -->
<div class="col-lg-6 col-sm-6 col-centered text-centers">
  <div class="container">
    <div class="row">
  <div class="span12">
  <div class="card hovercard">
    <div class="card-background">
      <img class="card-bkimg" alt="" src="{{restaurant.profilePicture}}">
    </div>
    <div class="useravatar">
      <img alt="" src="{{restaurant.profilePicture}}">
    </div>
    <div class="card-info"> <span class="card-title">{{restaurant.name}}</span>

    </div>
  </div>
  <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" id="stars" class="btn btn-danger" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <div class="hidden-xs">Menu</div>
          </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="favorites" class="btn btn-danger" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <div class="hidden-xs">Important Informations</div>
          </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="following" class="btn btn-danger" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <div class="hidden-xs">Current Status</div>
          </button>
    </div>
  </div>

  <div class="well">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
              <h4>Foods</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Item Price</th>
                    <th>Item Calorie</th>
                    <th>Food Type</th>
                    {% if current_user.get_Id | int == restaurant.creatorId | int %}
                    <th></th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {%for i in foods%}
                  <tr>
                    <td>{{i[5]}}</td>
                    <td><a href="{{ url_for('site.food_order_create_page', user_id = current_user.Id, restaurant_id = restaurant.primaryId, food = i[2], price = i[8]) }}">{{i[8]}} £</a></td>
                    <td>{{i[9]}} Calorie</td>
                    <td>{{i[7]}}</td>
                    {% if current_user.get_Id | int == restaurant.creatorId | int %}
                    <td><a href="{{ url_for('site.menu_food_delete', restaurant_id = restaurant.primaryId, food_id = i[0]) }}"> Delete from Menu</a></td>
                    {% endif %}
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
              <br>
              <br>
              <h4>Drinks</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Item Price</th>
                    <th>Item Calorie</th>
                    <th>Is cold</th>
                    <th>Alcohol?</th>
                    {% if current_user.get_Id | int == restaurant.creatorId | int %}
                    <th></th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {%for i in drinks%}
                  <tr>
                    <td>{{i[5]}}</td>
                    <td><a href="{{ url_for('site.drink_order_create_page', user_id = current_user.Id, restaurant_id = restaurant.primaryId, drink = i[2], price = i[7]) }}">{{i[7]}}  </a></td>
                    <td>{{i[8]}} Calorie</td>
                    <td>{{i[9]}}</td>
                    <td>{{i[10]}}</td>
                    {% if current_user.get_Id | int  == restaurant.creatorId | int %}
                    <td><a href="{{ url_for('site.menu_drink_delete', restaurant_id = restaurant.primaryId, drink_id = i[0]) }}"> Delete from Menu</a></td>
                    {% endif %}
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
              <h4>Deals</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>Deal Item</th>
                    <th>Discount Rate</th>
                    <th>Price with Discount</th>
                  </tr>
                </thead>
                <tbody>
                  {% for deal in deals %}
                  <tr>
                    <td>{{deal[0]}}</td>
                    <td> %{{deal[1]}}</td>
                    <td>{{ (deal[2]| int)* ((100-(deal[1] | int))/100 ) }}</td>
                    {% if current_user.is_admin or current_user.get_Id == restaurant.creatorId %}
                    <td><a href="{{ url_for('site.deals_delete_function', deal_id = deal[3], restaurant_id = restaurant.primaryId) }}">Delete</a></td>
                    <td><a href="{{ url_for('site.deals_update_function', deal_id = deal[3], restaurant_id = restaurant.primaryId) }}">Update</a></td>
                    {% endif %}
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
      </div>
      <div class="tab-pane fade in" id="tab2">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Restaurant Name</th>
              <th>Owner Name</th>
              <th>Restaurant Location</th>
              <th>Restaurant Rating</th>
              <th>Restaurant Bestseller Item</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- Change me with model and use for loop for showing all item inside the database. -->
              <td>{{restaurant.name}}</td>
              <td>{{restaurant.contactName}}</td>
              <td>{{restaurant.address}}</td>
              <td>{{restaurant.score}}/5
                {% if (current_user.is_authenticated and check)%}
                <br>
                <b>Rate: </b>
                <a href="{{ url_for('site.give_star_func', user_id = current_user.Id, restaurant_id = restaurant.primaryId, score = 1) }}">1</a>
                <a href="{{ url_for('site.give_star_func', user_id = current_user.Id, restaurant_id = restaurant.primaryId, score = 2) }}">2</a>
                <a href="{{ url_for('site.give_star_func', user_id = current_user.Id, restaurant_id = restaurant.primaryId, score = 3) }}">3</a>
                <a href="{{ url_for('site.give_star_func', user_id = current_user.Id, restaurant_id = restaurant.primaryId, score = 4) }}">4</a>
                <a href="{{ url_for('site.give_star_func', user_id = current_user.Id, restaurant_id = restaurant.primaryId, score = 5) }}">5</a>
                {% endif %}
              </td>
              <td>{{best_seller_food}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade in" id="tab3">
        <!-- Change me with model -->
        <h3 class="text-center ">Restaurant is now {{restaurant.currentStatus}}</h3>
      </div>
    </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <div class="mx-auto" style="padding-left: 3cm;padding-right: 1cm;">
  {% for c in comments %}
  <div class="comment">
    <div class="h3">
      {% if current_user.is_admin %}
      <div class="">
        <a href="{{ url_for('site.comment_delete_func', comment_id = c[0], restaurant_id = c[2]) }}">{{c[6]}}</a>
      </div>
      {% else %}
        <p>{{c[6]}}</p>
      {% endif %}
    </div>
    <div class="jumbotron text-center">
      <p class="lead">{{c[3]}}</p>
    </div>
    <br>
  </div>
  {%endfor%}
  {% if current_user.is_authenticated %}
  <div class="form-group">
    <form class="form-horizontal" action="/submit_comment"  method="POST" role="form" name="restaurant_create">
      <label for="comment">Comment:</label>
      <input type="hidden" name="restaurant_id" value={{restaurant.primaryId}}>
      <input type="hidden" name="user_id" value={{current_user.Id}}>
      <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
      <br>
      <div class="col-md-8 text-right">
        <button type="submit" class="btn btn-danger reight-align">Save</button>
      </div>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
