 {% extends "layouts/layout.html" %}

{% block title %} Registration Page{% endblock %}
{% block csslinks %}  <link rel="stylesheet" type="text/css" href="/static/register/index.css" > {% endblock %}
{% block content %}


<div class="container">
   
    <div class="row">
        <div class="message-wrap col-lg-8" id="msg-wrap">
            <div class="msg-wrap " id="message_1" >
                <div class="media msg">
                    <a class="pull-left" >
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 32px; height: 32px;" src="">
                    </a>
                    <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
                        <h5 class="media-heading">Lorem ipsum</h5>
                        <small class="col-lg-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis ullamcorper justo. Suspendisse placerat erat sit amet nisl viverra tincidunt. Nulla vel urna quis ante faucibus tristique eget nec tellus. Donec a nisi porttitor, pellentesque augue et, malesuada odio. Ut vitae nunc ullamcorper, hendrerit velit eu, egestas nisl. Maecenas at elit ex. Integer neque ex, viverra in bibendum vel, congue vitae ex. Nunc ac turpis erat. Nulla ac mauris vulputate, ornare nibh a, porta velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Aenean gravida est nec mauris tristique, a blandit risus pellentesque.

                        </small>
                    </div>
                </div>
                

            </div>
            
           <div class="message-wrap col-lg-12" id="msg-wrap">
            <div class="msg-wrap " id="message_2" >
                <div class="media msg">
                    <a class="pull-left" >
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 32px; height: 32px;" src="">
                    </a>
                    <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
                        <h5 class="media-heading">Lorem ipsum</h5>
                        <small class="col-lg-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis ullamcorper justo. Suspendisse placerat erat sit amet nisl viverra tincidunt. Nulla vel urna quis ante faucibus tristique eget nec tellus. Donec a nisi porttitor, pellentesque augue et, malesuada odio. Ut vitae nunc ullamcorper, hendrerit velit eu, egestas nisl. Maecenas at elit ex. Integer neque ex, viverra in bibendum vel, congue vitae ex. Nunc ac turpis erat. Nulla ac mauris vulputate, ornare nibh a, porta velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Aenean gravida est nec mauris tristique, a blandit risus pellentesque.

                        </small>
                    </div>
                </div>
                

            </div>
            

            
            <div class="btn-panel">
                <a href="{{ url_for('site.messages_new_page') }}" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> Send New Message</a>
            </div>
        </div>
    </div>



</div>


{% endblock %}