 {% extends "layouts/layout.html" %}

{% block title %} Registration Page{% endblock %}
{% block csslinks %}  <link rel="stylesheet" type="text/css" href="/static/register/index.css" > {% endblock %}
{% block content %}


<div class="container" >
   {% if messages %}
    <div class="row">
        <div class="col-md-20" style="margin-left: 5%; margin-right: auto;" >
            <div class="panel panel-primary" id="mainpanel" style="margin-right: 5px;border-color: #D32F2F">
                <div class="panel-heading" style=" background:#D32F2F;background-color:#D32F2F !important ;border-color: #D32F2F">
                    <span class="glyphicon glyphicon-comment" style="margin-right: 5px;"></span> Chat
                <div class="panel-body" style="background: #D32F2F;">
                    <ul class="chat" >
                        {% for message in messages%}
                            {% if message[6] != current_user.get_Id %}
                        
                                <li class="left clearfix" style="margin: 0;color: #ffffff;"><span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text={{message[1][0]}}" alt="User Avatar" class="img-circle" />
                                </span>
                            {% else %}
                                <li class="right clearfix"><span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/55C1E7/fff&text={{message[1][0]}}" alt="User Avatar" class="img-circle" />
                                </span>
                            {% endif %}   
                                <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font" style="color: black"> {{message[1]}} Topic:  
                                    {{message[3]}}
                                    </strong> 

                                    <small class="pull-right text-muted"  style="color: white ">
                                        <span class="glyphicon glyphicon-time"  style="color: white"></span>{{message[5]}}</small>
                                </div>
                                <p style="color: white">
                                    {{message[4]}}
                                </p>
                               
                            </div>
                        </li>
                        
                         {% endfor%}
                    </ul>
                   
                </div>
            </div>
        </div>

    </div>

            
            <div class="btn-panel" style="font-size: 18px; max-width:500px; margin: auto; margin-top: 10%">  
                <a href="{{ url_for('site.messages_new_page',user_id = current_user.get_Id) }}">
                <button type="submit" formaction="" class="btn btn-danger btn-block">Send New Message</button></a>
                
            </div>

        
    {% else %}

    <p style="max-width: 200px; margin: auto; margin-top: 2%; font-size: medium; font-weight: bold"> You have no messages! </p>
        
        <div class="btn-panel" style="font-size: 18px; max-width:500px; margin: auto; margin-top: 10%">  
                <a href="{{ url_for('site.messages_new_page',user_id = current_user.get_Id) }}">
                <button type="submit" formaction="" class="btn btn-danger btn-block">Send New Message</button></a>
                
            </div>
    {% endif %}

</div>


{% endblock %}