{% extends "layouts/layout.html" %}

{% block title %} - Profile {% endblock %}

{% block content %}
 {% if current_user.is_authenticated %}
 {% if current_user.get_type == 1 %}
<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src= "{{ user.get_avatar }}" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>{{user.get_name}} {{user.get_lastname}}</h3>
		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About {{user.get_name}} {{user.get_lastname}}</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="{{ user.get_avatar }}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">{{user.get_name}} {{user.get_lastname}}<small>TR</small></h3><!-- change me -->
                    <span><strong>Restaurant Locations: </strong></span>
                    {% if restaurants_of_owner %}
                      {% for res in restaurants_of_owner %}
                      <span class="label label-info"> {{ res[2] }}</span>
                      {% endfor %}
                    {%endif%}
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                      {{ user.get_bio }}</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                    <a href="{{ url_for('site.user_edit_page',user_id=current_user.get_Id) }}" class="btn btn-warning" >Edit</a>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <h1>Restaurants</h1>
    <div class="row col-md-12 custyle">
    <table class="table table-striped custab">
    <thead>
    <a href="{{ url_for('site.restaurant_create_page') }}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new restaurant</a>
        <tr>
            <th>ID</th>
            <th>Restaurant Name</th>
            <th>Location</th>
            <th>Score</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    {% if restaurants_of_owner %}
    {% for res in restaurants_of_owner %}
            <tr>
                <td>{{ res[0] }}</td>
                <td><a href="{{ url_for('site.restaurant_home_page') }}">{{ res[1] }}</a></td>
                <td>{{ res[2] }}</td>
                <td>{{ res[3] }}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="{{ url_for('site.restaurant_edit_page',restaurant_id = res[0])}}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="{{ url_for('site.restaurant_delete_func',restaurant_id = res[0]) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            {% endfor %}
    </table>
    </div>
{% endif %}
</div>

{% elif current_user.get_type == 2%}

<!--  CUSTOMER PART -->

<div class="container">
    <div class="span4 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{user.get_avatar}}" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>{{user.get_name}} {{user.get_lastname}}</h3>
        <!-- change me -->
		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About {{user.get_name}}</h4> <!-- change me -->
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="{{user.get_avatar}}" name="aboutme" width="140" height="140" border="0" class="img-circle">
                    <h3 class="media-heading"> {{user.get_name}} <small>TR</small></h3><!-- change me -->
                    <span><strong>Location: </strong></span>
                        <span class="label label-info">{{user.get_city}}</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        {{user.get_bio}}
                    </p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-warning" >OK</button>
                    <form>
                    <button formaction="{{url_for('site.user_edit_page',user_id=current_user.get_type)}}" type="submit" class="btn btn-warning" > Edit</button>
                    </form>
                    </center>
                </div>
            </div>
        </div>
    </div>

    {% if voted_res %}
    <h1>Votes</h1>
    <div class="row col-md-12 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Location</th>
            <th>Score</th>
        </tr>
    </thead>
        {%for res in voted_res %}
            <tr>
                <td><a href="{{ url_for('site.restaurant_home_page',restaurant_id = res[3]) }}">{{res[0]}}</a></td>
                <td>{{res[1]}}</td>
                <td>{{res[2]}}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    <!--Not complete orders  -->
    {% if foodListNR or drinkListNR %}
    <h1>Unreceived Orders</h1>
    <div class="row col-md-12 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Items</th>
            <th>Price</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>
    <!-- List Foods -->
    {% if foodListNR %}
              {% for food in foodListNR %}
              <tr>
                <td><a href="{{ url_for('site.restaurant_show_page',restaurant_id = food[5]) }}">{{food[0]}}</a>  </td>
                <td>{{food[1]}}</td>
                <td>{{food[2]}}</td>
                <td>{{food[4]}}</td>
                <td>{{food[3]}}</td>
                <td><a href="{{ url_for('site.update_food_order',orderId = food[6] ) }}" class="btn btn-warning" >Finish Order</a></td>
                <td><a href="{{ url_for('site.delete_food_order',orderId = food[6] ) }}" class="btn btn-warning" >Cancel Order</a></td>
              </tr>
                {% endfor %}
    {% endif %}
    <!--List drinks  -->
    {% if drinkListNR %}
              {% for drink in drinkListNR %}
              <tr>
                <td><a href="{{ url_for('site.restaurant_show_page',restaurant_id = drink[5]) }}">{{drink[0]}}</a>  </td>
                <td>{{drink[1]}}</td>
                <td>{{drink[2]}}</td>
                <td>{{drink[4]}}</td>
                <td>{{drink[3]}}</td>
                <td><a href="{{ url_for('site.update_drink_order',orderId = drink[6] ) }}" class="btn btn-warning" >Finish Order</a></td>
                <td><a href="{{ url_for('site.delete_drink_order',orderId = drink[6] ) }}" class="btn btn-warning" >Cancel Order</a></td>
              </tr>
                {% endfor %}
    {% endif %}
    </table>
    </div>
    {% endif %}

    <!--Completed orders  -->
    {% if foodListR %}
    <h1>Recent Orders</h1>
    <div class="row col-md-12 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Items</th>
            <th>Price</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>
    <!--List Foods  -->
    {% if foodListR %}
              {% for foodNR in foodListR %}
              <tr>
                <td><a href="{{ url_for('site.restaurant_show_page',restaurant_id = foodNR[5]) }}">{{foodNR[0]}}</a>  </td>
                <td>{{foodNR[1]}}</td>
                <td>{{foodNR[2]}}</td>
                <td>{{foodNR[4]}}</td>
                <td>{{foodNR[3]}}</td>
              </tr>
                {% endfor %}
    {% endif %}
    <!--List Drinks  -->
    {% if drinkListR %}
              {% for drink in drinkListR %}
              <tr>
                <td><a href="{{ url_for('site.restaurant_show_page',restaurant_id = drink[5]) }}">{{drink[0]}}</a>  </td>
                <td>{{drink[1]}}</td>
                <td>{{drink[2]}}</td>
                <td>{{drink[4]}}</td>
                <td>{{drink[3]}}</td>
              </tr>
                {% endfor %}
    {% endif %}
    </table>
    </div>
    {% endif %}


    {% if completed_achievements %}
    <h1>Completed Achievements</h1>
    <div class="row col-md-12 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Achievement Name</th>
            <th>Achievement Content</th>
        </tr>
    </thead>
    <!--List Completed Achievements -->
              {% for achievement in completed_achievements %}
              <tr>
                <td>{{achievement[1]}}</td>
                <td>{{achievement[2]}}</td>
              </tr>
                {% endfor %}
    {% endif %}
    </table>
    </div>
    {% endif %}
</div>
{% endif %}


{% endblock %}
